[submodule "modules/PX4Firmware"]
	path = modules/PX4Firmware
	url = git://github.com/WeifengFuLiu/PX4Firmware.git
[submodule "modules/PX4NuttX"]
	path = modules/PX4NuttX
	url = git://github.com/WeifengFuLiu/PX4NuttX.git
[submodule "modules/uavcan"]
	path = modules/uavcan
	url = git://github.com/WeifengFuLiu/uavcan.git
[submodule "modules/waf"]
	path = modules/waf
	url = git://github.com/WeifengFuLiu/waf.git
[submodule "modules/gbenchmark"]
	path = modules/gbenchmark
	url = git://github.com/WeifengFuLiu/benchmark.git
[submodule "modules/mavlink"]
	path = modules/mavlink
	url = git://github.com/WeifengFuLiu/mavlink
[submodule "gtest"]
	path = modules/gtest
	url = git://github.com/WeifengFuLiu/googletest
